
body{
    background: #2C2A2A;
     color: white;
}



#title >h3{
margin-bottom: 10vh;
 
}
#title >h3>.company{
padding-right: 2vw;
 
}

#title > h1>span{
 font-family: 'Playfair Display', serif;
font-weight: lighter;
padding-left:1vw;
text-transform: initial;
}

#ex-list>{
     display:flex; 
    
   
}
#ex-list>li {
border-bottom: solid white 2px; 

}
#ex-list > .role, .project, .date{
padding-left: 4rem;  
}

#nav > a:hover{
    color: white;
}
a{
    color: white;
    
}
a:hover{
    color:#BBD2C3;
}

@media screen and (max-width: 544px){
.role,.project,.date{
    font-size: 1rem;
    padding-left: 0.5rem;
}
#title>h1{
    font-size: 3rem;
}
.date{
 color: teal;
}
}
