
#write{
margin-left: 5vw; 

}

input{

 border: none;   
 background-color: #D0B9CF;
 font-size: 1.5rem;
 border-bottom: solid #2C2A2A 2px;
 margin: 1vh;
 align-items: left;
 margin-left:0;
 

}
input:focus{
 outline: none; 

  


}


textarea {
    
   font-size: 1.5rem; 
   font-family: 'Roboto', sans-serif;
   margin-top:1vh; 
   background-color: #D0B9CF;
   border: #2C2A2A 2px solid;
   width: 40vmin;
   margin-right: 5vw;

   

}
textarea:focus{
 outline: none;   
 


}
::placeholder{
    color: #2C2A2A;
    opacity: 1;
}
@media  screen and (max-width: 600px){
    textarea{
        width:80vmin;
    }
}
