
html, body{
    min-height: 100vh;
}


ul{
    
    
    list-style: none;
      justify-content: flex-end;  
      text-transform: uppercase;
       font-family:'Roboto', sans-serif;
}

a{
    color: #2C2A2A;
    text-decoration-line: none;

}

a:hover{
color: white;
}
